<h2><%= @post.title %></h2>

<ul>
  <li>
    <strong>Url:</strong>
    <%= @post.url %>
  </li>

  <li>
    <strong>Favorite:</strong>
    <%= @post.favorite %>
  </li>

  <li>
    <strong>Link:</strong>
    <%= link "visit the page", to: @post.url, target: "_blank" %>
  </li>
</ul>

<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Back", to: post_path(@conn, :index) %>
