<div class="well">
  <h2><%= @user.email %></h2>
  <%= button "Logout", to: session_path(@conn, :delete, @current_user),
    method: :delete,
    class: "btn btn-default" %>
</div>

<%= render "posts.html", user:  @user, conn: @conn %>
